* {
  margin: 0;
  padding: 0;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

#main {
  position: relative;
  width: 100%;
  height: 100%;
}


/* ================================
 Loading
 ================================ */
#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  text-align: center;
}
#loading .loadingImage {
  display: inline;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* ================================
 header
 ================================ */
header {
  padding: 8px;
}

#playerData {
  text-align: right;
}

/* ================================
 エディタの設定
 ================================ */
#editorSetting {
  padding: 8px;
  background: #aaa;
}

#editorSetting select .disabled {
  color: #aaa;
}

#programThemeWrapper {
  background-color: #ddd;
  margin: 5px 0;
  padding: 8px;
}

/* ================================
 エディタの設定
 ================================ */
.editorsWrapper {
  position: relative;
/*  float: left;
  width: 100%;*/
  z-index: 40;
  padding-right: 220px;
}

.editor {
  position: relative;
  height: 300px;
}
.editorWrapper {
  position: relative;
  float: left;
  width: 50%;
}
.modeObserver .editorWrapper {
  width: 33%;
}

.editor .editorLoading, 
.editor .editorResult {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
.editor .editorResult.fail {
  background: rgba(255,0,0,0.3);
}
.editor .editorResult.success {
  background: rgba(0,255,0,0.3);
}
.editorLoading {
  background: rgba(0,0,0,0.3);
}

/* ================================
  チャットエリア
 ================================ */

.chatWrapper {
  position: relative;
  float: right;
  width: 200px;
  height: 100%;
  z-index: 50;
}
#chat {
  position: relative;
  height: 100%;
}
.chatLog {
  font-size: 9px;
  padding: 8px;
  line-height: 1.3;
}
.chatLog .chatRow {
  padding: 4px 0;
  border-bottom: 1px solid #eee;
}
.chatLog .userName {
  padding: 5px;
  background: #ddd;
}
.chatLog .chatText {
  padding: 5px;
}

