* {
  margin: 0;
  padding: 0;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.modeObserver .players_ui,
.modePlayer .observers_ui{
  display: none;
}

/* ================================
 Loading
 ================================ */
#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  text-align: center;
}
#loading .loadingImage {
  display: inline;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* ================================
 header
 ================================ */
header {
  padding: 8px;
}

#playerData {
  text-align: right;
}



#programTheme .card-panel {
  padding: 12px;
}
#programTheme .example {
  font-size: 0.8em;
}

/* ================================
 エディタの設定
 ================================ */
#editorSetting {
  padding: 8px 5px;
  background: #ddd;
  width: 100%;
  margin: 0;
}

#editorSetting select .disabled {
  color: #aaa;
}
#editorSetting label {
  display: block;
}
/*
#programThemeWrapper {
  background-color: #ddd;
  margin: 5px 0;
  padding: 8px;
}
*/
/* ================================
 エディタ
 ================================ */
.editorsWrapper {
  position: relative;
/*  float: left;
  width: 100%;*/
  z-index: 40;
  padding-right: 220px;
}

.editor {
  position: relative;
  height: 300px;
}
.editorWrapper {
  position: relative;
  width: 33%;
}

.editorWrapper.myEditor {
  width: 100%;
}

.editor .editorLoading, 
.editor .editorResult {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
.editor .playerName {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  padding: 8px;
  background-color: rgba(255,255,255,0.1);
  z-index: 50;
}
.myEditor {
  margin: 0 0 10px 0;
}
.myEditor .editor .playerName {
  display: none;
}
.editor .editorResult.fail {
  background: rgba(255,0,0,0.3);
}
.editor .editorResult.success {
  background: rgba(0,255,0,0.3);
}
.editorLoading {
  background: rgba(0,0,0,0.3);
}

/* ================================
  チャットエリア
 ================================ */
/*
.chatWrapper {
  position: relative;
  float: right;
  width: 200px;
  height: 100%;
  z-index: 50;
}*/
#chat {
  position: relative;
  height: 100%;
}
.chatLog {
  font-size: 9px;
  padding: 8px;
  line-height: 1.3;
}
.chatLog .chatRow {
  padding: 4px 0;
  word-break: break-all;
  line-height: 1.7;
}
.chatLog .userName {
  padding: 2px 10px;
  background: #eee;
  display: block;
  border-radius: 10px;
}
.chatLog .chatText {
  padding: 5px 10px;
  display: block;
}

